:root {
  --dashboard-background: #171F12;
  --widget-background: #1F2E2C;
  --primary-text: #E7F9F7;
  --secondary-text: #8DE2DB;
  --accent-color: #ABD006;
}


.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  font-family: "Plus Jakarta Sans";
}

.main-grid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 
    auto 1fr auto;
  /* grid-template-columns: 
    repeat(var(--column-count), 1fr); */
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main-grid > header {
  grid-area: header;
  color: #171F12;
  display: flex;
  background-color: #ABD006;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "library button .";
  padding: 15px;
}

.library-header {
  grid-area: library;
  display: flex;
  gap: 10px;
}

h1 {
  font-size: 2.2rem;
  align-self: center;
}

.empty-library {
  position: absolute;
  align-self: center;
  justify-self: center;
  color: var(--secondary-text);
}

button#showDialog {
  grid-area: button;
  height: 50px;
  width: 120px;
  border-radius: 25px;
  justify-self: center;
  align-self: center;
  border: none;
  font-size: 1rem;
  background-color: #2BABA1;
}

#stacked-books {
  height: 70px;
  width: 70px;
  justify-self: center;
  justify-content: center;
  padding-bottom: 10px;
}

dialog {
  margin: auto;
  padding: 2.5rem;
  box-sizing: border-box;
  width: 400px;
}

dialog::backdrop {
  background-color: hsl(0 0% 0% / .5);
  backdrop-filter: blur(2px);
}

dialog[open] {
  display: grid;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.main-grid > main {
  grid-area: main;
  background-color: var(--dashboard-background);
  padding: 50px;
}

.main-grid > footer {
  grid-area: footer;
  background-color: #1F2E2C;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #ABD006;
  font-size: 0.7rem;
}

.library {
  --column-count: 4;
  display: grid;
  grid-template-columns: 
    repeat(var(--column-count), 1fr);
  gap: 20px;
}

.book {
  border: 4px solid #2BABA1;
  background-color: var(--widget-background);
  color: var(--primary-text);
  padding: 15px;
  border-radius: 15px;
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
}

.checkbox-container {
  color: white;
}
.checkBoxContainer {
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  gap: 10px;
}

input[type="checkbox"] {
  accent-color: #86A305;
  height: 15px;
  width: 15px;
}

label[for="read"] {
  padding-right: 10px;
}

.form-buttons {
  margin-top: 10px;
  display: flex;
  gap: 50px;
  justify-content: center;
}

button[formmethod="dialog"] {
  font-size: 1rem;
}

.deleteButton {
  background-color: #2BABA1;
  border: none;
  border-radius: 12px;
  height: 25px;
  width: 75px;
}